<div class="emp-home-div">
    <h3>Angular2..</h3>
    <div class="emp-home-form-div1">
        <span class="div-title-span">POC Team</span>
        <ul>
            <li>Syam</li>
            <li>Sreerag</li>
            <li>Karthi</li>
            <li>Dattatreya</li>
        </ul>
        
    </div>
    <div class="emp-home-form-div2">
        <span class="div-title-span">Topics covered.</span>
        <ul>
            <li>Form</li>
            <li>Routing</li>
            <li>Http(Inmemory,Json from extenal source)</li>
        </ul>
    </div>
    <div></div>
</div>